.notFound{
    background-color: white;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    display: grid;
    place-content: center;
}

.notFound-head{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #474747;
    text-align: center;
}

.notFound-img img{
    width: 100%;
}

.notFound-text{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #474747;
}

.notFound-link-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.notFound-link-container a{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: center; 
    color: #474747;
}
    
.notFound-link-container img{
    transform: rotate(-90deg);
    position: relative;
    top: 2px;
}