.blog{
    display: flex;
    gap:40px;
}

.blog-categories{
    margin-top: 47px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media(max-width:768px){
    .blog{
        display: flex;
        flex-direction: column-reverse;
    }
}