.blogCard{
    padding: 48px 0;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
}

.blogCard_time{
    position: absolute;
    top: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #777777;
}

.blogCard_content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    position: relative;
    padding-top: 24px;
}

.blogCard_head{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 28px;
    color: #474747;
    flex: 4;
}

.blogCard_keywords{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.hashtag{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #474747;
    padding: 8px 16px;
    background: #F4F4F4;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    border: 0;
}

.blogCard_head a{
    color: #474747;
}

@media(max-width:768px){
    .blogCard_content{
        flex-direction: column;
        align-items: unset;
    }
    .blogCard_head{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 28px;
        color: #474747;
        flex: 1;
    }

    .blogCard_keywords{
        flex: 1;
    }
}
