.contact{
    margin-top: 96px;
}

.form-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-group label{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    text-align: justify;
    color: #474747;
}

.form-group input {
    width: 30vw;
    background: #F4F4F4;
    border-radius: 3px;
    padding: 14px;
    border: 0;
    outline: none;
}

.form-group textarea{
    width: 100%;
    background: #F4F4F4;
    border-radius: 3px;
    padding: 14px;
    border: 0;
    height: 100px;
    resize: none;
}

.textarea-form{
    margin-top: 50px;
}

@media  (max-width:768px) {
    .form-group,.form-group input {
        width: 100%;
    }
    
    .form-flex{
        width: 100%;
        gap: 20px;
    }

    .contact{
        margin-top: 40px;
    }
}