.footer{
    width: 100%;
    background-color: #F4F4F4;
    padding: 40px 0;
    position:relative;
    margin-top: 132px;
}

.footer_text{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #474747;
}

.scroll-top{
    position: absolute;
    left: 50%;
    top: -37px;
    transform: translate(-50%);
    cursor: pointer;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width:425px) {
    .footer_content{
        flex-direction: column;
        align-items: unset;
        gap: 60px;
    } 
}