.heading-h1{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 25px;
}

.heading-list{
    list-style: none;
    display: flex;
    padding: 0;
}

.heading-list-item img{
    transform: rotate(90deg);
}

.heading-list-item{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #474747;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    
}

.heading-list-item.active{
    border-bottom: 2px solid #777777;
}

.heading-list-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DFDFDF;
    gap: 48px;
    margin-left: 10px;
    width: 100%;
}



@media(max-width:1024px){
    .heading-list{
        width: 100%;
        overflow: scroll;
        position: relative;
    }

    .heading-list::-webkit-scrollbar {
        display: none;
    }

    .heading-list-item-icon{
        display: none;
    }

    .heading-list-container{
        width: max-content;
    }
    .heading-list-item{
        min-width: max-content;
    }
}