.post-category{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #777777;
}

.post-head{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #474747;
    margin: 24px 0;
}

.post-author{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #777777;
}

.post-img{
    width: 100%;
    margin: 48px 0;
}

.post-content{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #474747;
}

.post-tags{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-top: 64px;
    margin-bottom: 41px;
}

.share{
    display: flex; 
    gap:24px;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #474747;
}

.share-img{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    outline: none;
    border: 0;
    cursor: pointer;
}

.share-img img{
    width: 20px;
    height: 20px;
}

.share img{
    width: 20px;
    height: 20px;
}

.post-content img{
    max-width: 100%;
}