@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import './Navbar.css';
@import './Components/Heading.css';
@import './Components/BlogCard.css';
@import './Components/Footer.css';
@import './Components/post.css';
@import './Components/404.css';
@import './Components/contact.css';
@import './Components/blog.css';
@import './Components/loader.css';
html,
body {
  padding: 0;
  margin: 0;
}

.light {
  background-color:rgb(15, 15, 15) !important;
  color: whitesmoke !important;
}

.light a, 
.light p, 
.light h1,
.light .heading-list-item,
.light .blogCard_time,  
.light ol,  
.light li,  
.light hr {
  color: whitesmoke !important;
}

.light .hashtag,
.light .navbar_search input
{
  background-color:rgb(29, 29, 29) !important;
  color: whitesmoke;
}



.light .footer {
  background-color:rgb(29, 29, 29) !important;
}



@media(max-width:1024px){
  .light .navbar_navigation {
    background-color:rgb(29, 29, 29) !important;
  }
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  outline: none;
  scroll-behavior: smooth;
}


.container{
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.main_content{
  padding-top: 96px;
}

@media(max-width:1115px){
  .container{
    width: 90%;
    margin: 0 auto;
  }
  .main_content{
    padding-top:0;
  }
}