.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_items{
    display: flex;
    gap: 48px;
    align-items: center;
}

.navbar_items a, .navbar_items div{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #777777;
}

.navbar_items a.active{
    border-bottom: 2px solid #777777;
}

.dropdown{
    overflow: hidden;
    position: absolute;
    top: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 0;
    padding: 0 20px;
    border-radius: 5px;
    transition:1s ease-in-out;
    box-shadow: 0px 6px 8px -6px rgba(24, 39, 75, 0.12), 0px 8px 16px -6px rgba(24, 39, 75, 0.08);
}

.dropdown.active{
    min-height: max-content;
    height: 100px;
}


.dropdown-heading{
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav-link{
    max-width: max-content;
}

.dropdown-heading img{
    height: 5px;
}

.dropdown_button{
    width: min-content;
    cursor: pointer;
}

.dropdown_button img{
    position: relative;
    top: 2px;
}

.navbar_search{
    display: flex;
    align-items: center;
}

.navbar_search input {
    width: 256px;
    height: 40px;
    background: #F4F4F4;
    border-radius: 3px;
    outline: none;
    padding: 13px;
    border: 0;
}

.navbar_search form {
    display: flex;
}

.navbar_search button{
    width: 40px;
    height: 40px;
    background: #FFBA9D;
    border-radius: 3px;
    outline: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar_navigation{
    display: flex;
    align-items: center;
    gap:48px ;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.navbar_logo h1 a{
    color: #474747;
}

@media(max-width:1024px){
    .navbar{
        flex-direction: column;
        align-items: unset;
        
    }
    .navbar_navigation{
        position: absolute;
        background-color: white;
        top: 0;
        z-index: 10;
        right: 120%;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
        display: grid;
        place-content: center;
        transition: 0.3s ease-in-out;
    }

    .navbar_navigation.open{
        right: -18px;
    }

    .navbar_navigation a, .navbar_navigation div{
        font-size: 18px;
    }

    .navbar_items{
        width: 100%;
        display: block;
    }
    .navbar_items form{
        margin-top: 10px;
        width: 100%;
        margin-bottom: 48px;
    }
    .navbar_items input{
        width: 100%;
    }
    .hamburger{
        display: grid;
        place-items: center;
        position: absolute;
        right: 0;
        top: 20px;
        outline: none;
        z-index: 11;
        height: 30px;
        width: 30px;
    }

    .dropdown_button{
        position: relative;
    }

    .dropdown {
        width: max-content;
        top:30px;
    }
}